.mat-card {
    border-radius: 32px;
    margin: 10px 10px;
    padding: 20px;
    border-color: blue;
}
.matcard#first-card {
    padding: 0;
}

div#profile-background {
    display: flex;
    z-index: 2;
}
div#profile-background img {
    width: 100%;
    border-radius: 32px 32px 0 0;
}

.profile-image {
    border-radius: 50%;
    width: 152px;
    height: 152px;
    margin-top: -110px;
    z-index: 1;

}
div#info-actions {
    display: flex;
}
#demo {
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
    }
    #demo {
     background-color: #1C6EA4;
     display: block;
     margin: flex auto 1;
     width: flex;
     height: flex;
     color: #FFF;
     padding: flex;
    }